<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FDISoap">
                    <security mode="Transport" />
                </binding>
                <binding name="FDISoap1" />
                <binding name="AuthenticateSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AuthenticateSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://smeqas.servms.com:449/PARTNER/FDI.asmx"
                binding="basicHttpBinding" bindingConfiguration="FDISoap"
                contract="SMEServiceReferenceFDI.FDISoap" name="FDISoap" />
            <endpoint address="https://smeqas.servms.com:449/ws/authenticate.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthenticateSoap"
                contract="SMEServiceReferenceLogin.AuthenticateSoap" name="AuthenticateSoap" />
        </client>
    </system.serviceModel>
</configuration>