###################################################################
#Flash size range(units:GB)
#Memory size range(units:MB)
#OS version
#build number(Settings -> About phone ->build number)
#Model number(Settings -> About phone ->Model number)
#CPU Cores
#CPU Processor
###################################################################
flash = 14~14
memory = 1888~1888
os = Android5.1.1
CPUprocessor = msm8916
CPUCores = 4
Buildnumber = A33m_11_A.08_160308
IMEI = 861729036436659
